.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 42px;
  line-height: 40px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  line-height: 33px;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Crimson Text', sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}

a {
  color: #2196f3;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

strong {
  font-weight: bold;
}

blockquote {
  margin-bottom: 20px;
  padding: 0px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 16px;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 7px;
  color: rgba(51, 51, 51, .56);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #2196f3;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #1565c0;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.white {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #004ba0;
  font-weight: 700;
}

.button.white:hover {
  background-color: hsla(0, 0%, 100%, .77);
}

.button.black {
  background-color: #333;
}

.button.black:hover {
  background-color: #000;
}

.button.black.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.button.full-width {
  display: block;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0);
}

.button.full-width:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: #004ba0;
}

.button.full-width.button-primary {
  border-color: #004ba0;
  color: #004ba0;
}

.button.full-width.button-primary:hover {
  background-color: #004ba0;
  color: #fff;
}

.button.small {
  padding: 7px 12px;
  background-color: #2196f3;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

.button.small:hover {
  background-color: #1565c0;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #a8a8a8;
}

.button.tab:hover {
  background-color: #7e7e7e;
}

.button.tab.w--current {
  background-color: #2196f3;
}

.button.tab.w--current:hover {
  background-color: #1565c0;
}

.button.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.navigation-link {
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navigation-link:hover {
  color: #2196f3;
}

.navigation-link.white {
  color: #fff;
}

.navigation-bar {
  background-color: #fff;
}

.navigation-bar.dark {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #004ba0;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .5);
}

.navigation-bar.top {
  margin-top: 58px;
  margin-bottom: 124px;
  border-radius: 5px;
  background-color: #fff;
}

.navigation-menu.left {
  float: left;
}

.navigation-menu.on-bottom {
  float: none;
  text-align: center;
}

.brand-text {
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 23px;
  line-height: 26px;
  font-weight: 400;
}

.brand-link {
  height: 60px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.brand-link:hover {
  opacity: 0.66;
}

.brand-link.right {
  float: right;
}

.brand-link.on-top {
  display: block;
  float: none;
  text-align: center;
}

.brand-link.white {
  color: #fff;
}

.brand-link.left-spacing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.brand-link.left-spacing.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-link.left {
  margin-left: 16px;
}

.section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.section.centered {
  text-align: center;
}

.section.accent {
  background-color: #f3f3f3;
}

.section.dark {
  background-color: #5d5d5d;
  color: #fff;
}

.section.contact {
  background-image: url('../images/DarkMidnightBlue-MediumElectricBlue.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-slider {
  height: 455px;
  background-color: transparent;
}

.slide {
  padding-top: 82px;
  padding-right: 85px;
  padding-left: 85px;
  background-color: #dbdbdb;
}

.slide.two {
  background-color: #dbdbdb;
}

.header-section {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #5d5d5d;
  color: #fff;
  text-align: center;
}

.page-heading {
  margin-top: 0px;
  margin-bottom: 11px;
  text-shadow: 1px 1px 15px rgba(0, 75, 160, .5);
}

.page-subheading {
  font-size: 1.4em;
  font-weight: 600;
  text-shadow: 1px 1px 15px rgba(0, 47, 108, .5);
}

.cta-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dbdbdb;
}

.cta-section.centered {
  text-align: center;
}

.cta-section.centered-accented {
  background-color: #004ba0;
  color: #fff;
  text-align: center;
}

.cta-heading {
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 400;
}

.cta-heading.inline-block {
  display: inline-block;
  margin-top: 0px;
  margin-right: 13px;
  font-weight: 700;
}

.align-right {
  text-align: right;
}

.white-box {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.fixed-image-section {
  position: relative;
  overflow: hidden;
  padding: 117px 20px;
  color: #fff;
  text-align: center;
}

.hero-section {
  height: 100vh;
  padding-top: 250px;
}

.hero-section.centered {
  text-align: center;
}

.slider-navigation {
  font-size: 11px;
}

.slider-icon-circle {
  width: 50px;
  height: 50px;
  padding: 6px;
  font-size: 33px;
}

.hero-subheading {
  margin-bottom: 18px;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 9px 20px;
  border: 2px solid #2196f3;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #2196f3;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.hollow-button:hover {
  border-color: #1565c0;
  color: #1565c0;
}

.hollow-button.white {
  border-color: #fff;
  color: #fff;
}

.hollow-button.white:hover {
  border-color: hsla(0, 0%, 100%, .64);
  color: hsla(0, 0%, 100%, .72);
}

.section-heading {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #004ba0;
}

.section-heading.centered {
  color: #fff;
  text-align: center;
}

.main-container {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.form-label {
  margin-bottom: 6px;
  font-size: 13px;
  text-transform: uppercase;
}

.section-subheading {
  letter-spacing: 2px;
}

.section-subheading.center {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0px;
}

.section-title-group {
  margin-bottom: 62px;
}

.section-title-group.centered {
  text-align: center;
}

.form-field {
  min-height: 41px;
  margin-right: 1px;
  margin-bottom: 17px;
  border: 0px none #000;
  border-radius: 4px;
  box-shadow: 5px 5px 30px -4px rgba(0, 0, 0, .25);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.form-field:focus {
  box-shadow: 0 0 0 2px #2196f3;
}

.form-field.text-area {
  min-height: 110px;
}

.form-field.with-button {
  width: 75%;
  margin-bottom: 0px;
  float: left;
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
  color: #fff;
}

.form-wrapper.squeezed.form-primary {
  color: #004ba0;
}

.form-wrapper.form-primary {
  color: #004ba0;
}

.picture-border {
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
}

.round-image {
  margin-bottom: 13px;
  border-radius: 100px;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  background-color: #2196f3;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

.social-button:hover {
  background-color: #1565c0;
  opacity: 1;
}

.social-button.border {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, .36);
  background-color: transparent;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  padding: 3px;
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.social-icon-link:hover {
  opacity: 0.5;
}

.profile-image {
  margin-bottom: 15px;
  border-radius: 100px;
}

.hero-with-nav {
  background-color: #dbdbdb;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer.center {
  text-align: center;
}

.footer.centered-smaller {
  padding-top: 33px;
  padding-bottom: 33px;
}

.footer.accent {
  background-color: #f1f1f1;
}

.footer.centered-accented {
  background-color: #f1f1f1;
  text-align: center;
}

.float-right {
  float: right;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #2196f3;
  text-decoration: none;
}

.link:hover {
  color: #1565c0;
}

.footer-brand-text {
  font-size: 26px;
  line-height: 33px;
}

.sidemenu-wrapper {
  margin-left: 10px;
  padding-left: 20px;
}

.sidemenu-title {
  margin-bottom: 10px;
}

.sidemenu-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #8f8f8f;
  text-decoration: none;
}

.sidemenu-link:hover {
  color: #333;
}

.grid-image {
  margin-bottom: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.info-wrapper {
  margin-bottom: 14px;
}

.info-icon {
  float: left;
}

.info-text {
  margin-left: 34px;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, .74);
  text-decoration: none;
}

.footer-link:hover {
  color: #004ba0;
}

.footer-link.with-icon {
  margin-left: 30px;
}

.hero-title-wrapper {
  margin-bottom: 155px;
}

.icon-left {
  padding: 6px;
  float: left;
  color: #919191;
}

.text-right {
  margin-left: 49px;
}

.left-navigation {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #dbdbdb;
}

.nav-link {
  display: block;
  padding: 7px 0px;
  text-align: center;
}

.nav-menu {
  float: none;
}

.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.content {
  overflow: hidden;
  width: 80%;
  float: left;
}

.social-footer {
  margin-top: 56px;
  text-align: center;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.flushed-grid {
  width: 25%;
  float: left;
}

.flushed-grid.thirds {
  width: 33.33%;
}

.flushed-grid.sixths {
  width: 16.66%;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/DarkMidnightBlue-MediumElectricBlue.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.success-wrapper {
  padding: 31px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
}

.success-message {
  margin-bottom: 0px;
}

.error-wrapper {
  border-radius: 5px;
  background-color: #d32f2f;
  color: #fff;
}

.error-message {
  margin-bottom: 0px;
}

.social-link-wrapper {
  text-align: center;
}

.background {
  background-color: #dbdbdb;
}

.custom-container {
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.rich-text h1 {
  margin-top: 30px;
}

.rich-text h3 {
  margin-top: 30px;
}

.rich-text h5 {
  margin-top: 30px;
}

.rich-text h4 {
  margin-top: 30px;
}

.rich-text h6 {
  margin-top: 30px;
}

.image-column {
  text-align: center;
}

.content-column {
  padding-top: 42px;
}

.feature-column {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
  text-align: center;
}

.waterfall-image-column {
  text-align: center;
}

.container-2 {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1px;
  padding-bottom: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 600px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/clouds-06.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.heading {
  margin-bottom: 20px;
  direction: ltr;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-transform: none;
}

.paragraph {
  font-family: 'Crimson Text', sans-serif;
  text-align: left;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  padding: 25px 0px;
}

.paragraph-2 {
  margin-bottom: 30px;
  font-family: 'Crimson Text', sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
}

.grid {
  -ms-grid-columns: 2fr 10fr 2fr;
  grid-template-columns: 2fr 10fr 2fr;
}

.card {
  display: block;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 3px 4px 20px 3px rgba(8, 8, 8, .19);
}

.card.contact-card {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.image-2 {
  margin-bottom: 15px;
}

.div-block {
  padding-right: 10px;
  padding-left: 10px;
}

.div-block.card-content {
  position: relative;
  overflow: visible;
  padding: 20px 20px 1px;
}

.div-block.card-content.offset-header {
  padding-top: 30px;
  padding-left: 60px;
}

.div-block-2 {
  background-image: url('../images/clouds-04.jpg');
  background-position: 0px 0px;
  background-size: 1200px;
}

.div-block-2.card-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 75, 160, .46)), to(rgba(0, 75, 160, .46))), url('../images/clouds-04.jpg');
  background-image: linear-gradient(180deg, rgba(0, 75, 160, .46), rgba(0, 75, 160, .46)), url('../images/clouds-04.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 1200px;
}

.div-block-2.card-header.card-header-2 {
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 75, 160, .5)), to(rgba(0, 75, 160, .5))), url('../images/clouds-04.jpg');
  background-image: linear-gradient(180deg, rgba(0, 75, 160, .5), rgba(0, 75, 160, .5)), url('../images/clouds-04.jpg');
  background-position: 0px 0px, -102px 50%;
}

.div-block-2.card-header.card-header-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 75, 160, .5)), to(rgba(0, 75, 160, .5))), url('../images/clouds-04.jpg');
  background-image: linear-gradient(180deg, rgba(0, 75, 160, .5), rgba(0, 75, 160, .5)), url('../images/clouds-04.jpg');
  background-position: 0px 0px, 83% 56%;
}

.div-block-2.card-header.card-header-1 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 75, 160, .5)), to(rgba(0, 75, 160, .5))), url('../images/clouds-04.jpg');
  background-image: linear-gradient(180deg, rgba(0, 75, 160, .5), rgba(0, 75, 160, .5)), url('../images/clouds-04.jpg');
  background-position: 0px 0px, -210px 0px;
}

.text-white {
  color: #fffbfb;
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;
  text-align: center;
  text-transform: none;
}

.text-white.card-header-text {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0px;
}

.text-white.mission-header {
  margin-top: 61px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-transform: none;
  text-shadow: 1px 1px 15px rgba(0, 47, 108, .66);
}

.text-white.pillar {
  font-size: 30px;
  line-height: 40px;
  text-align: left;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.parralax-scroll-up {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 140%;
  background-image: url('../images/clouds-06.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: scale3d(1, 0.8, 1);
  transform: scale3d(1, 0.8, 1);
  -webkit-transform-origin: 50% 0% 0px;
  -ms-transform-origin: 50% 0% 0px;
  transform-origin: 50% 0% 0px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parralax-scroll-up.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 75, 160, .84)), to(rgba(0, 75, 160, .84))), url('../images/clouds-05.jpg');
  background-image: linear-gradient(180deg, rgba(0, 75, 160, .84), rgba(0, 75, 160, .84)), url('../images/clouds-05.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.container-4 {
  position: relative;
}

.pad-y {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: hsla(0, 0%, 100%, .34);
}

.pad-y.background-white {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #f1f1f1;
  background-image: url('../images/GrayNurse-Concrete.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.pad-y.background-image-white-wave {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .5)), to(hsla(0, 0%, 100%, .5))), url('../images/GrayNurse-Concrete.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/GrayNurse-Concrete.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.pad-y.background-image-blue-waves {
  background-image: url('../images/DarkMidnightBlue-MediumElectricBlue.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.spacer-line {
  width: 50%;
  height: 0px;
  margin-top: -5px;
  margin-bottom: 15px;
  border-bottom: 4px solid #004ba0;
}

.spacer-line.white {
  border-color: #f1f1f1;
}

.spacer-line.spacer-line-centered {
  margin-right: auto;
  margin-left: auto;
}

.heading-2 {
  color: #004ba0;
}

.div-block-3 {
  position: absolute;
  left: -15px;
  top: -15px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid-2 {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.map {
  height: 600px;
}

.card-content {
  padding: 15px;
}

.card-content.vlocity-card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.small-subheading {
  color: #004ba0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.paragraph-4 {
  text-align: center;
}

.link-2 {
  color: #50bcff;
}

.link-3 {
  color: #50bcff;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.contact-header-text {
  color: #004ba0;
  text-align: center;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/clouds-02.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading-3 {
  font-weight: 700;
}

.heading-3.text-primary {
  color: #004ba0;
}

.heading-3.text-white {
  text-align: center;
}

.heading-3.text-white.align-left {
  text-align: left;
}

.gutter {
  margin-right: 15px;
  margin-left: 15px;
}

.grid-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.pillar-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-white {
  color: #f1f1f1;
}

.grid-4 {
  grid-column-gap: 15px;
  grid-row-gap: 31px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.section-4 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  position: relative;
  z-index: 20;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  letter-spacing: 0px;
  text-transform: none;
}

.about-vlocity-hero-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-centered {
  color: #004ba0;
  text-align: center;
  text-transform: none;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-5.vlocity-card-header {
  text-align: center;
}

.spacer {
  height: 25px;
}

.header-primary {
  color: #004ba0;
}

.section-5 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  position: relative;
  z-index: 20;
}

.heading-6 {
  color: #fff;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link-block {
  display: block;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.client-story-header {
  display: block;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.bullet-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.bullet-section-item {
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.rich-text-block {
  font-family: 'Crimson Text', sans-serif;
  font-size: 20px;
}

.rich-text-block-2 {
  font-family: 'Crimson Text', sans-serif;
  font-size: 20px;
}

.bullet-section-spacer {
  margin: 5px 15px 15px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.client-story {
  margin-bottom: 20px;
}

.heading-7 {
  color: #fff;
}

.image-5 {
  color: #fff;
}

.text-block {
  color: #fff;
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
}

.text-block-2 {
  color: #fff;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000003, 0.6000000000000003);
  -ms-transform: scale(0.6000000000000003, 0.6000000000000003);
  transform: scale(0.6000000000000003, 0.6000000000000003);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .hamburger-button:hover {
    color: #2196f3;
  }
  .hamburger-button.w--open {
    background-color: #333;
  }
  .hamburger-button.left {
    float: left;
  }
  .hamburger-button.white {
    color: #fff;
  }
  .navigation-menu {
    background-color: #002f6c;
  }
  .brand-text {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }
  .hero-slider {
    height: 400px;
  }
  .section-heading.centered {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }
  .section-subheading.center {
    font-weight: 400;
  }
  .form-wrapper.squeezed {
    padding-right: 10%;
    padding-left: 10%;
  }
  .left-navigation {
    width: 100%;
    height: auto;
    float: none;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
  }
  .nav-menu {
    padding: 17px;
    background-color: #333;
  }
  .logo-link {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .social-footer {
    margin-top: 0px;
  }
  .content-column {
    padding-top: 0px;
  }
  .heading {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
  }
  .body {
    font-family: Montserrat, sans-serif;
  }
  .card {
    min-width: 0%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .card.vlocity-vertical-card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block.card-content {
    display: block;
  }
  .columns {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .parralax-scroll-up.header {
    margin-top: 0px;
    padding-top: 0px;
  }
  .pad-y.background-white {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pad-y.background-image-white-wave {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .map {
    height: 400px;
  }
  .card-content {
    display: block;
  }
  .columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .heading-5 {
    text-align: center;
  }
  .heading-5.vlocity-card-header {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
  }
  .vlocity-card-body {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .brand-link.on-top {
    float: left;
  }
  .brand-link.left-spacing {
    padding-left: 0px;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-slider {
    height: 528px;
  }
  .slide {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cta-section {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .cta-heading {
    margin-bottom: 10px;
  }
  .form-wrapper.squeezed {
    padding-right: 9px;
    padding-left: 0px;
  }
  .picture-border {
    margin-bottom: 13px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-fours {
    width: 33.33%;
  }
  .image-column {
    margin-bottom: 10px;
  }
  .content-column {
    margin-bottom: 13px;
    text-align: center;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .text-white.mission-header {
    font-size: 38px;
    line-height: 50px;
  }
  .columns {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .parralax-scroll-up.header {
    background-size: cover;
  }
  .bullet-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .button.tab {
    margin-bottom: 9px;
  }
  .hero-slider {
    height: 550px;
  }
  .slide {
    padding-right: 53px;
    padding-left: 53px;
  }
  .grid-fours {
    width: 50%;
  }
  .section-2 {
    height: 400px;
    padding-right: 10px;
    padding-left: 10px;
    background-image: none;
  }
  .heading {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 32px;
    line-height: 55px;
    text-align: center;
  }
  .image {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .card {
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
  }
  .div-block.card-content {
    display: block;
  }
  .text-white.card-header-text {
    text-align: center;
  }
  .text-white.mission-header {
    font-size: 22px;
    line-height: 36px;
  }
  .parralax-scroll-up {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url('../images/clouds-06.jpg');
    background-image: linear-gradient(180deg, transparent, transparent), url('../images/clouds-06.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, auto;
  }
  .pad-y.background-white {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .pad-y.background-image-white-wave {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-image-wrapper {
    width: 120px;
    padding: 0px;
  }
  .spacer-line {
    margin-top: -5px;
  }
  .map {
    height: 300px;
  }
  .section-3 {
    height: 400px;
  }
  .heading-4 {
    text-align: center;
  }
  .heading-6 {
    text-align: center;
  }
}

#w-node-1b4eae13056d-bd7f8de3 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-1b4eae13056d-bd7f8de3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-646539497d02-bd7f8de3 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-646539497d02-bd7f8de3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-94ca390b18ae-bd7f8de3 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

@media screen and (max-width: 991px) {
  #w-node-94ca390b18ae-bd7f8de3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-63176e562fd1-bd7f8de3 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

@media screen and (max-width: 991px) {
  #w-node-63176e562fd1-bd7f8de3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

